<!-- <div class="valentine-container" *ngIf="!isGameStarted">
  <h1 class="answered">WELCOME TO THE GAME!</h1>
  <div class="buttons">
    <button class="yes-button" (click)="start()">Start the Game</button>
  </div>

   
</div> -->

<div class="valentine-container">
  <h1 class="question">Bebe, will you be my Valentine?</h1>
  <div class="buttons">
    <button *ngIf="hideButton" class="yes-button" (click)="yesClick()">YES</button>
    <button *ngIf="hideButton" class="no-button" (mouseover)="moveNoButton()" (click)="moveNoButton()">NO</button>
  </div>
  <div class="row fancy-row" *ngIf="isYesClicked" >
    <span class="answered">Answer: YES</span>
    <span class="itinerary">Valentine's Date:</span>
    <span class="itinerary">Venue: Blake's SM Fairview</span>
    <span class="itinerary">When: Feb. 15, 2025 | 12nn to 1:00 pm</span>
  </div>
</div>
